div.card {
  width: 250px;
  height: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

div.cardImg {
  position: relative;
  width: 100%;
  height: 70%;
}

.cardText {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}
